<template>
  <div>
    <h1>to do list</h1>
    <ul v-for="(element, index) in elements" :key="element">
      <li class="elemento">
        {{ element }}
      </li>
      <li>(in corso)</li>
      <li class="delete">
        <button @click="remove(index)">X</button>
      </li>
    </ul>
    <ul v-for="archive in archives" :key="archive">
      <li class="elemento">
        {{ archive }}
      </li>
      <li>completata</li>
    </ul>
    <input v-model="toDo" placeholder="to do" />
    <button @click="add(toDo, element)">Add element</button>
    <p>
      Total activities: {{ elements.length }}
      <button @click="all(toDo)">Active</button>
      <button @click="finished(indice)">Completed</button>
    </p>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      elements: [],
      archives: [],
    };
  },
  methods: {
    add(toDo) {
      let elements = this.elements;
      elements.push(toDo);
      console.log(elements);
    },
    all() {},
    remove(index) {
      console.log(index);
      this.archives.push(this.elements[index]);
      this.elements.splice(index, 1);
    },
    finished(indice) {
      console.log(indice);
    },
  },
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
